body {
    background-color:rgb(198,129,164);
    background-size: cover;
    text-decoration-color: aliceblue;
}

.catalogue {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-img-right {
    justify-content: left;
}

.grid-img-left {
    justify-content: right;
}

.catalogue a {
    font-size: 5rem;
    color: black;
}

img{
    width: 25rem;
    height: 25rem;   
}