body {
    margin: 0;
    background-color:rgb(235,211,209);
    background-size: cover;
    text-decoration-color: aliceblue;
}

#home {
    margin-top: 1rem;
    background-image: url(./images/1710917003314.png);
    width: 200rem;
    height: 25rem;
    margin-bottom: 10rem;
}

.navigation ul {
    list-style-type: none;
    background-color: rgb(89,102,118) ;
    padding: 0;
    margin: 0;
    overflow: hidden;
}




.navigation a {
    color: white;
    text-decoration: none;
    padding: 2rem;
    display: block;
}

.navigation a:hover{
    background-color: rgb(152,166,175);
}

.navigation li{
    float: left;
}

.catalogue {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-img-right {
    justify-content: left;
}

.grid-img-left {
    justify-content: right;
}

.catalogue a {
    font-size: 4rem;
    color: black;
}

.catalogue a:hover {
    font-size: 5rem;

}

img{
    width: 25rem;    
}

#contact {
    text-align: center;

}

#button {
    padding: 0.5rem ; 
    margin: 1rem;
}